body {
    background-color: rgba(72, 192, 72, 0.155);
}

.body-content {
    background-color: white;
    padding-bottom: 80px;
    border: 5px solid white;
    border-radius: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 90%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.322);
   
}

.divider {
    margin-top: 0;
    border-top: none;
    height: 20px;
    margin-top: 30px;
    background-color: rgba(240, 248, 255, 0);
}



.title-background {
    height:fit-content;
    width: 100%;
    padding: 30px 0px 30px 20px;
    margin-bottom: 40px;

}

.title {
    background-color:rgb(61, 146, 188); 
    width: 40%;
    min-width:fit-content;
    max-width: 500px;
    color: white;
    padding: 15px 25px;
    padding-right: 50px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px  rgb(17, 168, 140);
}

.subtext {
    margin: 30px;
    padding: 20px;

}

.hours-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.hours {
    margin-left: 30px;
    padding: 30px;
    border: 5px solid white;
    border-radius: 20px;
    background-color: rgba(212, 210, 41, 0.171);
    min-width: 200px;
    
}

.hours h1 {
    padding-left: 10px;
    margin-bottom: 35px;
}

table {
    border-spacing: 20px;
    border: 3px double black;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
}
th  {
    padding-right: 30px;
    text-align: left;
    font-family: "Gordita Medium", serif;
    font-size: 1.1em; 
}


td {
    font-family: "ITC Avant Garde Gothic", serif;
}

td:first-of-type, td:nth-of-type(2) {
    padding-right: 10px;
}

.closed {
    text-align: right;
    padding-right: 0;
}



.appointment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: stretch;
    padding: 40px;
    justify-content: center;
}

.appointment-element {
    max-width: 350px;
    border: 5px solid white;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    

    transition: box-shadow 300ms ease-in-out;
}

.appointment-element:hover {
    box-shadow: 13px 14px 0px rgb(82, 157, 100);
}

.appointment-element img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    margin-bottom: 0;
    height: 200px;
    display: block;
}

.appointment-element .text-content {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    border-top: 5px solid rgb(255, 255, 255);
    margin-top: 0;
    text-align: center;
    background-color: rgb(17, 168, 140);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    color: white;
    margin: 0;
    flex: 1;
}

.appointment-element .text-content p {
    font-size: .7em;
}

.appointment-element img {
    width: 100%;
    margin: 0;
}

.appointment-element button {
    height: 50px;

    font-size: 1.2em;
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    border: 2px solid white;
    font-family: "Gordita Medium", serif;

    transition: color 500ms ease-in-out, background-color 500ms ease-in-out, padding 500ms ease-in-out, 
    font-size 500ms ease-in-out, border 500ms ease-in-out;

}


.appointment-element button:hover {
    font-size: 1.3em;
    background-color: rgb(55, 207, 151);
    padding: 15px;
    padding-top: 10px;
    border: none;
    color: white;
}

.appointment-element.graduate .image-div {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}


.appointment-element.graduate img {
    width: 100%;
    height:fit-content;
}


/* Appointment Popup and Form */

#backdrop {
    background-color: rgba(0, 0, 0, 0.73);
    width: 100%;
    height: 100%;
    position:absolute;
    z-index: 11;
    display: none;
}
#booking-form-div {
    position: fixed;
    display: none;
    top:0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
    justify-content: center;

}

.booking-form {
    background-color: white;
    position: relative;
    padding: 15px 50px 25px 50px;
    font-family: "Gordita Medium", serif;
    width: 600px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.258);
    overflow-y: scroll;
    height: fit-content;
    max-height: 88vh;
    margin-top: 20px;
    
}

.booking-form::-webkit-scrollbar {
    width: 12px; /* Width of the vertical scrollbar */
    height: 12px; /* Height of the horizontal scrollbar */
}

.booking-form-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
}

.form-element.describe {
    width: 100%;
}

#describe {
    width: 500px;
    height: 70px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20px;
    resize: none;
    font-family: "ITC Avant Garde Gothic", serif;
    font-weight: 400;
}

input[type="date"] {
    font-family: "ITC Avant Garde Gothic", serif;
    padding: 10px;
    padding-left: 39px;
    border-radius: 20px;
}


#date-picker {
    font-family: "ITC Avant Garde Gothic", serif;
    border-radius: 20px !important;
    height: 30px !important;
    cursor: pointer;
    padding-left: 20px;
}

.input-div {
    position: relative;
    width: fit-content;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

 .fa-solid.fa-calendar-days, .fa-solid.fa-clock {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
    color:teal;
}


.flatpickr-calendar {
    font-family: 'Arial', sans-serif !important; /* Use your desired font */
    font-size: 14px !important; /* Adjust font size */
    border-radius: 20px !important;
    margin-top: 20px;

}

/* Customize the background and text color of the selected date */
.flatpickr-day.selected {
    background-color: #0d5d14 !important;
    border-color: white !important;
    color: white; 
}

.flatpickr-day {
    transition: color 500ms ease-in-out, background-color 500ms ease-in-out;
}

/* Change hover effect for days */
.flatpickr-day:hover {
    background-color: white !important;
    border: 2px solid #4dce3b !important;
    color: black !important;
}

/* Customize the month and year title area */
.flatpickr-current-month {
    color: #333333;
}

.flatpickr-day.today {
    border:none;
}


.flatpickr-monthDropdown-months {
    padding-right: 15px  !important;
    margin-right: 15px !important;
}



select.flatpickr-calendar .flatpickr-monthDropdown-month {
    background-color: #0d5d14 !important;
    border-radius: 20px !important;
    border: 1px solid black !important;
}


.flatpickr-current-month .flatpickr-monthDropdown-months .flatpickr-monthDropdown-month:hover {
    background-color: #ffffff !important;
}


.flatpickr-monthDropdown-months:hover {
    background-color: #ffffff !important;
}

.flatpickr-month {
    margin-bottom: 15px !important;
    margin-top: 5px !important;
}


/* Change disabled days' appearance */
.flatpickr-day.flatpickr-disabled:hover {
    border:none !important;
    color: rgba(57, 57, 57, 0.1) !important;
}


/* Timeslots */

#time {
    border-radius: 20px;
    border: 2px solid black;
    height: 30px;
    padding-left: 20px;
    cursor: pointer;
    width: 80px;
    font-family: "ITC Avant Garde Gothic", serif;;
}

.time-lists-div {
    position: absolute;
    top: 0;
    background-color: rgb(249, 249, 249);
    padding: 20px;
    width: 500px;
    border-radius: 20px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.168);
}

#time-modal {
    display: none;
}

.time-list {
    position: relative;
}
.form-element:nth-of-type(1) {
    margin-right: 50px;
}


#close-modal, #close-form-modal {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    top: -20px;
    right: 5px;
    cursor: pointer;
    color: white;
    padding: 10px;
    border-radius: 50%;
    height: 15px;
    width: 15px;

    transition: background-color 500ms ease-in-out;
}

#close-modal {
    background-color: rgba(255, 0, 0, 0);
    color: rgb(167, 4, 4);
    font-size: 1.5em;
}

#close-modal:hover {
    color: rgb(139, 1, 1);
}

 #close-form-modal:hover {
    background-color: rgb(139, 1, 1);
}

#close-form-modal {
    background-color: rgb(167, 4, 4);
    top: 40px;
    right: 40px;
}

.time {
    width: fit-content;
    
}

.timeslots {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    align-items: center;
}

.timeslots input[type = "radio"] {
    display: none;
    
}

.timeslots label {
    font-family: "ITC Avant Garde Gothic", serif;
    display: inline-block;
    background-color:white;
    padding: 10px;
    color: black;
    border: 2px solid  rgb(17, 168, 140);
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    transition: color 300ms ease-in-out, background-color 300ms ease-in-out;

}

.timeslots label:hover {
    background-color:rgb(17, 168, 140);
    color: white;
}

.timeslots label:focus {
    background-color:rgb(3, 13, 108);
}

.timeslots input[type="radio"]:checked + label {
    background-color:rgb(9, 121, 102);
    color: white;
    border: 2px solid white;
}

/* Upload Files */

.form-content .myFile {
    background-color: blue;
}


input[type="file"] {
    position: absolute;
    z-index: -1;
    top: 10px;
    left: 8px;
    font-size: 12px;
    color: #b8b8b8;
    max-width: 200px;
  }

  .button-wrap {
    position: relative;
    width: fit-content;
  }

  .upload-button {
    display: inline-block;
    padding: 10px 13px;
    cursor: pointer;
    max-width: 200px;
    border-radius: 5px;
    background-color: #2325b3;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    transition: box-shadow 300ms ease-in-out, background-color 300ms ease-in-out;

  }

  .upload-button:hover {
    background-color: #090a7b; /* Slightly darker green */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
}



#upload-stuff {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    gap: 20px;
}

#upload-stuff  label {
    max-width: 200px;
}

.listedFiles  {
    list-style-type: none;
}

.listedFiles li {
    margin-bottom: 15px;
    font-family: "ITC Avant Garde Gothic", serif;
    font-style: italic;
}

.separator {
    display: block;
    width: 350px;
    border-bottom: 2px dashed rgb(0, 18, 138);
}



#submit-div {
    display: flex;
    justify-content: start;
    width: 100%;
}

#submit {
    font-size: 1.2em;
    padding: 10px 30px;
    background-color: white;
    color: black;
    font-family: "Gordita Medium", serif;
    border: 3px solid teal;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 5px;
    margin-left: 0;
    transition: font-size 300ms ease-in-out, 300ms ease-in-out, box-shadow 300ms ease-in-out
    , padding 300ms ease-in-out;
}

#submit:hover {
    box-shadow: 4px 5px 0px rgb(253, 166, 3);
}

#submit:focus {
    background-color: teal;
    color: white;
}


