.body-content {
    border-bottom: 2px solid black;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
    background-image: linear-gradient(160deg, #008080, #135066, #00244D, #107bac);
    padding-bottom: 70px;
}

.student-div {
    height: fit-content;
    width: 40%;
    border-radius: 30px;
    background-color: rgb(213, 221, 255);
    background-image: linear-gradient(90deg, rgb(73, 84, 133), rgb(213, 221, 255));

    transition: box-shadow 300ms ease-in-out;
}

.student-div:hover {
    box-shadow: 0px 0px 8px white;
}

.business-div {
    width: 40%;
    border-radius: 30px;
    background-image: linear-gradient(90deg,rgb(230, 255, 248), rgb(107, 175, 156) );
    transition: box-shadow 300ms ease-in-out;
}


.business-div:hover {
    box-shadow: 0px 0px 8px white;
}


.back {
    position: absolute;
    top: 25px;
    left: 25px;
    font-size: 3em;
    background-color: #ecd23e00;
    padding: 35px;
    border-radius: 20px;
    border: 1px solid white;
    color:white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: background-color 300ms ease-in-out, font-size 300ms ease-in-out, padding 300ms ease-in-out;
}

.back:hover {
    font-size: 3.5em;
    padding: 37px;
}

.back:focus {
    background-color: #135066;
}

.background {
    background-color: white;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: white;
   
}
.header img {
    width: 100%;
}

.header .image-div {
    border: 10px double teal;
    border-top: none;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 0px 0px 3px white;
    width: 250px;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.297);

}

.header h1{
    width: 100%;
    text-align: center;
   
}

.header p {
    width: 70%;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    color: black;
    padding: 20px;
    border: 5px double teal;
}

/* Student and Business Content */

.student-content, .business-content {
    padding: 15px;
    height: fit-content;
    font-size: .9em;

}
.student-content, .business-content {
    text-align: center;
}

.text-content {
    border: 2px solid white;
    padding: 15px;
    
    background-color: white;
    border-radius: 20px;
}

.student-content i, .business-content i {
    font-size: 6em;
    color:#00244D;
}

.line {
    display: block;
    border: 1px solid black;
    margin-bottom: 20px;
}

.student-content p, .business-content p {
    font-size: .8em;
    margin-top: 50px;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.518);
}

.student-content button i, .business-content button i {
    font-size: 1.3em;
    margin-left: 15px;
    color: white;
}

.student-content button, .business-content button {
    height: 50px;
    padding: 5px 15px;
    border: 2px solid white;
    font-family: "Gordita Medium", serif;
    border-radius: 10px;
    background-color: #1f7e34;
    color: white;
    margin-bottom: 10px;
    width: 100%;

    transition: background-color 300ms ease-in-out;
   
}


.business-content button {
    background-color: #00244D;
}


.student-content button:hover {
    background-color: #2db74b;;
}

.business-content button:hover {
    background-color: #094a95;
}

.student-content button:focus {
    background-color: #003e0d;
}

.business-content button:focus {
    background-color: #0d1e32;
}