.body-content {
    padding: 20px;
    background-color: rgb(177, 213, 230, .5);
}

.title {
    background-color:#00244D;
    width: 40%;
    min-width:fit-content;
    max-width: 500px;
    color: white;
    padding: 15px 25px;
    padding-right: 50px;
    margin-bottom: 80px;
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 10px 10px  #FFA500;
}

.form-content {
    height: 500px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid white;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 7px #5f92cc;
}